<% include ../header %>
<h2>Informe um usuário do facebook para continuar.</h2>

<form v-on="submit: submit">
    <input v-model="user.id" type="hidden" value="<%- id %>">

    <div class="form-group">
        <label for="id_fb_id" class="control-label">Facebook ID</label>
        <input type="text" name="fb_id" id="id_fb_id" v-model="user.fb_id" class="form-control">
    </div>
    <div v-show="">
        <div class="form-group">
            <label for="username" class="control-label">Usuário</label>
            <input type="text" id="id_username" v-model="user.username" class="form-control">
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Nome</label>
            <input type="text" id="id_name" v-model="user.name" class="form-control">
        </div>

        <div class="form-group">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <label for="id_gender" class="control-label">Sexo</label>
                    <select id="id_gender" v-model="user.gender" class="form-control">
                        <option value="">Selecione</option>
                        <option value="male">Masculino</option>
                        <option value="female">Feminino</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <label for="id_birthday" class="control-label">Data de Nascimento</label>
                    <input type="date" id="id_birthday" v-model="user.birthday" class="form-control">
                </div>
            </div>
        </div>

        <div v-show="self.user.id" class="form-control">
            <button v-on="click: delete(user)" class="btn btn-danger">Excluir usuário</button>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/" title="Usuário" class="btn btn-link btn-sm">Volta à listagem</a>
    </div>
</form>
<% include ../footer %>
