<% include ../header %>
<h1 v-show="isList">Usu치rios <a href="/" title="Novo usu치rio" class="btn btn-default btn-sm">Adicionar</a></h1>
<h1 v-show="userExists">Editar Usu치rio</h1>

<div class="user-list" v-show="isList">
    <table class="table table-hover">
        <thead>
            <th></th>
            <th>Nome</th>
            <th>Usu치rio</th>
            <th colspan="2">Facebook ID</th>
        </thead>

        <tbody>
            <tr v-repeat="user: query.objects" v-transtition="remove-transition" class="item-{{user.id}}">
                <td></td>
                <td v-on="click: edit(user)">{{user.name}}</td>
                <td v-on="click: edit(user)">{{user.username}}</td>
                <td v-on="click: edit(user)">{{user.fb_id}}</td>
                <td>
                    <button class="btn btn-link btn-sm" v-on="click: delete(user)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li v-show="query.prev">
            <a href="javascript:void()" v-on="click: list(query.prev)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li v-repeat="query.pages">
            <a href="javascript:void()" v-on="click:list($index+1)">{{$index+1}}</a>
        </li>
        <li v-show="query.next">
            <a href="javascript:void(0)" v-on="click: list(query.next)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

<% include ../users/_form %>
<% include ../footer %>
