<% include ../header %>
<h1>Usuários <a href="/new" title="Novo usuário" class="btn btn-success">Adicionar Novo</a></h1>

<table class="table table-hover">
    <thead>
        <th></th>
        <th>Nome</th>
        <th>Usuário</th>
        <th colspan="2">Facebook ID</th>
    </thead>

    <tbody>
        <tr v-repeat="user: users.objects" v-transtition="remove-transition" class="item-{{user.id}}">
            <td></td>
            <td>
                <a href="/{{user.id}}/edit">{{user.name}}</a>
            </td>
            <td>{{user.username}}</td>
            <td>{{user.fb_id}}</td>
            <td>
            <button class="btn btn-link btn-sm" v-on="click: delete(user)"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li v-show="users.prev">
        <a href="javascript:void()" v-on="click: list(users.prev)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li v-repeat="users.pages">
        <a href="javascript:void()" v-on="click:list($index+1)">{{$index+1}}</a>
    </li>
    <li v-show="users.next">
        <a href="javascript:void(0)" v-on="click: list(users.next)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
<% include ../footer %>
