extends layout

block content
  h1 LuizaLabs - FacebookAPI
  table#list-users.table.table-striped(v-on="load: getUsers")
    thead
      tr
        th Username
        th Nome
        th(colspan=2) Facebook ID
    tbody
      tr(v-repeat="user: users")
        td {{user.username}}
        td {{user.name}}
        td {{user.fb_id}}
        td
          a(href='#')
            i.glyphicon.glyphicon-trash
