@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    padding-bottom: 100px;
    background: #fff;
    color: #212121;
}
a {
    color: #00B7FF;
}
table.table {
    background-color: #fff;
}
table.table td {
    vertical-align: middle !important;
}
.navbar-brand {
    color: #fff !important;
}
nav {
    background-color: #6f5499 !important;
    border-color: #6f5499 !important;
}
.navbar-inverse .navbar-nav>li>a.active {
    color: #fff;
    background-color: transparent;
}


/******
Transitions
******/
.remove-transition { }
