<% include ../header %>
<h1>Novo Usuário</h1>

<div id="form-user" v-show="!isForm">
    <div class="row">
        <div class="col-sm-6">
            <p><strong>Cadastrar usuário com um Facebook ID</strong></p>
            <form v-on="submit: getFacebookUser" class="form-inline">
                <div class="form-group">
                    <input type="text" id="id_fb_id" placeholder="Entre aqui com o ID" class="form-control" v-model="user.fb_id">
                </div>
                <button class="btn btn-default">Buscar</button>
                <span class="help-block" v-text="messages.fb_id"></span>
            </form>
        </div>

        <div class="col-sm-6">
            <div id="fb-root"></div>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
        <p><strong>Cadastrar com uma conta do facebook</strong></p>
        <button v-on="click: fbLogin($event)" class="btn btn-primary">Cadastrar com o Facebook</button>
    </div>
</div>
</div>

<% include ../users/_form %>
<% include ../footer %>
